.castCard{
	 width:10.8em;
  height:16.2em;
  font-size:0.7em;
  min-width:110px;
  background-size: auto;
  	background-repeat:repeat;
	background-position:center;
}
.swiper-container{
width: 100%;
      height: 250px;
      overflow: hidden;
      background-color: red;
      }