
.movieCardContent{
  width:10.8em;
  height:16.2em;
  font-size:0.7em;

}
.rating{
  width:110px;
  height:30px;
  position:relative;
  top:1.2em;
  left:-2.4em;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  background:rgba(0,0,0,1);
}
