.Modal {
    position: fixed;
    z-index: 500;
    background-color: #34e89e;
    width: 600px;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 800px) {
    .Modal {
        width: 96vw;
        top: 25vh;
        left:2vw;
        max-height:60vh;
        overflow: auto;
    }
}
@media(max-width: 600px){
    .Modal{
        position: fixed;
        left:2vw;
        top:25vh;
        font-size: 1em;
    }
}